* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh,  0 100%);
  position: relative;

}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}
/* box container for logo-image, determines position relative  to parent element ('header') */

.logo {
  height: 35px;
}
/* determine size of image */

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%)
  /* transform property 50% of element's own top (not parent) */
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 29px;
  animation-name: moveInLeft;
  /* load animation by specified name on element */
  animation-duration: 1s;

}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 12.5px;
}

@keyframes moveInLeft {
  0% {
    /* 0% = start of animation */
    opacity: 0;
    /* makes text invisible at start */
    transform: translateX(-100px);
    /* starts the animation 100px left from the absolute center of the screen
    in a straight direction along the x-line */
  }
  80% {
    transform: translateX(20px)
    /* @80 % complete of animation moves text 20px to right of center screen */
  }

  100% {
    opacity: 1;
    transform: translate(0);
    /* return to status quo at end of animation */
  }
}

.footer{
  position: center;
  background-color: #55c57a; /* medium green
}
